{% extends "layouts/sb-admin-2.html.twig" %}

{% block stylesheets_page %}
{% endblock %}

{# Overrides blocks in head of base template #}
{% block page_title %}{{ translate('SITE.CONFIG.MANAGER') }}{% endblock %}

{% block page_description %}{{ translate('SITE.CONFIG.PAGEDESC') }}{% endblock %}

{% block body_matter %}
    <div class="row">
        <div class="col-lg-12" id="alerts-page" style="margin-bottom: 10px"></div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <ul id="configMenu" class="nav nav-pills nav-stacked">
            {% for schema in schemas %}
                <li role="presentation" {% if loop.first %} class="active"{% endif %}><a href="#configPanel-{{ schema.filename }}" data-target="configPanel-{{ schema.filename }}">{{ translate(schema.name) }}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-lg-9">
            {% for schema in schemas %}
            <div id="configPanel-{{ schema.filename }}" class="panel panel-primary" {% if not loop.first %} style="display: none;"{% endif %}>
                <div class="panel-heading">
                    <h3 class="panel-title">{{ translate(schema.name) }}</h3>
                </div>
                <div class="panel-body">
                    {% if schema.desc %}<p>{{ translate(schema.desc) }}</p>{% endif %}
                    <form method="post" action="{{schema.formAction}}">
                        {% include "components/csrf.html.twig" %}
                        <div class="form-alerts"></div>
                        {% include 'FormGenerator/FormGenerator.twig' with {fields: schema.fields} %}
                        <center>
                            <button type="reset" class="btn btn-default">{{translate('RESET')}}</button>
                            <button type="submit" class="btn btn-primary js-submit">{{translate('SAVE')}}</button>
                        </center>

                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block scripts_page %}

    <script>
        $(document).ready(function () {
            $("[id^=configPanel-]").ConfigManager({
                menu : $("#configMenu"),
                validators : {
                    {% for schema in schemas %}
                        "configPanel-{{ schema.filename }}" : {{schema.validators | raw}},
                    {% endfor %}
                }
            });
        });
    </script>

	<!-- UFAlert -->
    <script>
        // Fetch the ufAlerts
        $("#alerts-page").ufAlerts();
        $("#alerts-page").ufAlerts('fetch').ufAlerts('render');
    </script>

    <!-- Include form widgets JS -->
    {{ assets.js('js/ConfigManager') | raw }}
    {{ assets.js('js/form-widgets') | raw }}

{% endblock %}
